/* User sign in and sign forms. */
.wrapper-devise {
  background-color: black;
}

.form-div {
  max-width: 100%;
  padding: 15px 25px 25px;
  border-radius: 3px;
  margin: 0 auto 20px;
  background-color: #fff;

  h2 {
    margin-bottom: 20px;
  }
}

.full-width {
  width: 100%
}

.photo-border {
   margin-top: 30px;
   margin-bottom: 30px;

}

// END OF DEVISE FORMS STYLE
