

.spacenavbar {
  margin: 0px 0px;
  background-color: black;
  padding: 2px;
}

.separation1 {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: black;
  padding: 1px;

}
.sep {
  height: 1px;
  background: #e8e8e8;
  margin: -10px -25px;
}

.form-div {
  max-width: 100%;
  padding: 15px 25px 25px;
  border-radius: 3px;
  margin: 0 auto 20px;
  background-color: #fff;

  h2 {
    margin-bottom: 20px;
  }
}

.defaultIMG {
  max-height: 70px;
}
