

<h1 style="font-size: 4vw; margin-bottom: 20px"><center><%= @city.name %></center></h1>



<!-- CAROUSEL BEGINING **************************8888-->
    <div id="public_profile" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
        <div class="item">
          <img src="http://placehold.it/1000x500" alt="...">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#public_profile" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
  <!-- CAROUSEL END ************************************-->


<br>

<div class="container">

  <div class="row">

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <center>
        <img src="http://placehold.it/140x140" alt="...">
        <p>name pporfile</p>
      </center>
    </div>



    </div>
  </div>

</div>
