// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";



// MINOR ADJUSTMENTS

.pmargin0 {
  margin: 2px;
}

.pmargin1 {
  margin: 2px;
  font-size: 20px;
  color: white;

}

.pmargin2 {
  margin: 2px;
  font-size: 15px;
  color: white;
}

.thumbstyle {
  padding: 10px;
  margin-top: 20px;
}

//wrapper da view do user
.wrapper-grey {
  // background: #CCCCCC;
   background: #1A1A1A;
  // background: #000000;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // padding: 30px 0;
}

.flexshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexshow2 {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 5px;
}
