// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";



// MINOR ADJUSTMENTS

.headerpost {
  margin: 2px;
  font-size: 12px;
}

.flexpost {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}


.pmargin0 {
  margin: 2px;
}

.pmargin1 {
  margin: 2px;
  font-size: 20px;
  color: white;

}

.pmargin2 {
  margin: 2px;
  font-size: 15px;
  color: black;
}

.pmarginpost {
  margin: 2px;
  font-size: 12px;
  color: black;
}

.thumbstyle {
  padding: 10px;
  margin-top: 20px;
}

.thumbstyle2 {
  padding: 10px;
  margin-top: 20px;
  background-color: #40434E;
}

//wrapper da view do user
.wrapper-grey {
  // background: #CCCCCC;
   background: #1A1A1A;
  // background: #000000;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // padding: 30px 0;
}

.flexshow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexshow2 {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 5px;
}


// CAROUSEL FOR PPROFILE

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}


.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


// END OF CAROUSEL FOR PPROFILE


//FACEBOOKLIKE TOP


.fb-image-profile
{
    margin: -90px 10px 0px 20px;
    z-index: 9;
    width: 20%;

}

@media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
    margin: 0px;
    margin-top: 5px;
}

.fb-profile-text>h2{
    font-weight: 500;
    font-size:12px;
    margin: 0px;
    margin-top: 5px
}

.fb-profile-text>p{
    font-weight: 500;
    font-size:12px;
    margin: 0px;
    width: 80%
}

.fb-image-profile
{
    margin: -40px 10px 0px 25px;
    z-index: 9;

}
}

// END OF FACEBOOKLIKE TOP


// DEVISE FORMS STYLE

/* User sign in and sign forms. */
.wrapper-devise {

background-color: gray;

}

.border-form-div {
  max-width: 100%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

// END OF DEVISE FORMS STYLE
