// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";



// MINOR ADJUSTMENTS

.pmargin0 {
  margin: 2px;
}

.thumbstyle {
  padding: 10px;
  margin-top: 20px;
}

//wrapper da view do user
.wrapper-grey {
  // background: #CCCCCC;
  background: #1A1A1A;
  padding: 30px 0;
}

.flexshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
